.about {
    overflow-y: auto;
    max-width: 600px;
    margin: 1em auto;
}

.cv {
    font-size: 1.2em;
    margin: 1em;
    
    a {
        color: $color-primary;

        &:hover {
            filter: brightness(1.2);
        }

    }

}