.carousel {
    position: relative;
    width: 85%;
    margin: auto;
  }

  .carousel_track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
  display: flex;
  gap: 20px;
}

.carousel_slide {
    position: relative;
    left: 0;
    transition: 0.5s;
    min-width: 100%;
  }

  .carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    color: $color-primary;
    font-size: 30px;
    cursor: pointer;
    padding: 11rem 2rem;

    &:hover {
        color: $color-primary-hover;
    }
  }

  .carousel_button-left {
  left: -68px;
  margin-left: 10px;
}

.carousel_button-right {
  right: -68px;
  margin-right: 10px;
}

.is-hidden {
    filter: opacity(0.2);
  }

  @media screen and (min-width: 900px) {
    .carousel_slide {
        min-width: 50%;
    }
    .carousel {
        min-width: 80%;
    }
  }

  @media screen and (min-width: 1150px) {
    .carousel_slide {
        min-width: 32.7%;
    }
  }

