.modal-header {
  display: block !important;
  text-align: center;
  color: $color-primary;

  button {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .project-links {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    margin: 0.5em 0;
    font-style: italic;
  }
}

.modal-content {
  border: 3px solid $color-primary !important;
}

.modal-dialog {
  max-width: 900px !important;
}

.modal-body {
  text-align: center;

  img {
    min-height: 300px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  p {
      text-align: left;
  }
}

ul {
    list-style: none; 
    text-align: left;
  }
  
  ul li::before {
    content: "\2022";  
    color: $color-primary; /* Change the color */
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
  }

  @media screen and (min-width: 750px) {
      .project-info {
          display: flex;
          gap: 1rem;

          div {
              flex: 1;
          }
      }
  }
